```{=html}
<div class="list grid" style="column-gap: 10px">
  <% for (const item of items) { %>
  <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-6 mb-2">
    <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
      <small class="card-text inline-block">
        <a href="<%- item.href %>" target="_blank"><%= item.title %></a> <% if
        (item.code) { %>
        <a
          href="<%- item.code %>"
          title="View source code"
          class="source-code card-text float-end inline-block"
          target="_blank"
        >
          <i class="bi-code-slash"></i>
        </a>
        <% } %>
      </small>
    </div>
    <a href="<%- item.href %>" target="_blank">
      <img src="<%- item.thumbnail %>" class="card-img-top" />
    </a>
    <% if (item.description) { %>
    <div class="py-1 px-2">
      <small class="card-text"><%= item.description %></small>
      <% if (item.href2) { %>
      <br />
      <br />
      <small class="card-text">
        Demo:
        <a href="<%- item.href2 %>" target="_blank"><%= item.href2 %></a>
      </small>
      <% } %>
    </div>
    <% } %>
  </div>
  <% } %>
</div>
```
